/*template*/

.rp-cont{
    display: flex;
}
.cont-c1{
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.c1{
    max-width: 600px;
    width: 100%;
    text-align: center;
    padding: 20px;
}
.c2{
    max-width: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 20px 0 20px 0;
}
.c3{
    max-width: 600px;
    width: 100%;
    display: flex;
    align-items: center;
}
.c4{
    max-width: 600px;
    width: 100%;
    padding: 10px 50px 0 50px;
}
.cont-c2{
    padding: 20px 20px 40px 40px;
    max-width: 200px;
    width: 100%;
}
.cont-c3{
    padding: 20px 40px 40px 20px;
    max-width: 400px;
    width: 100%;
}

.pr-p{
    font-family: "Yusei Magic", serif;
    text-transform: capitalize;
    font-weight: 600;
    color: rgb(30, 30, 30);
    margin-top: 25px;
    margin-bottom: 10px;
}
#fieldPreview h3{
    font-family: "Yusei Magic", serif;
    text-transform: capitalize;
    font-weight: 600;
    color: rgb(30, 30, 30);
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 15px;
}
#fieldPreview p{
    font-size: 14px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    line-break: anywhere;
    clear: both;
    color: rgb(30, 30, 30);
}
.line{
    height: 1px;
    width: 100%;
    background-color: rgba(30, 30, 30, 0.641);
}
.H-line{
    height: 30px;
    width: 1px;
    background-color: rgba(30, 30, 30, 0.641);
}

#previewPhone,#previewEmail,#previewAddress,
#previewSummary,#previewSkills,#previewAchievements,
#previewEducation,#previewExperience,#previewProjects,
#previewLinkdin,.editor-pL{
    font-size: 12px;
    font-family: "Nunito Sans", sans-serif;
    line-break: anywhere;
    font-weight: 400;
    clear: both;
    color: #2d2c2c;
}

#previewLinkdin{
    color: blue;
}


#previewName{
    font-size: 22px;
    font-family: "Playfair Display", serif;    
    font-weight: 400;
    font-style: normal;
    color: #2d2c2c;
}
#previewBio{
    font-size: 13px;
    text-transform: uppercase;
    font-weight: normal;
    color: #2d2c2c;
}
